<?xml version="1.0"?>
<config>
    <modules>
        <DT_Customer>
            <version>0.1.0</version>
        </DT_Customer>
    </modules>
    <global>
        <models>
            <dt_customer>
                <class>DT_Customer_Model</class>
            </dt_customer>
            <customer>
                <rewrite>
                    <customer>DT_Customer_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <blocks>
            <dt_customer>
                <class>DT_Customer_Block</class>
            </dt_customer>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>DT_Customer_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <dt_customer>
                <class>DT_Customer_Helper</class>
            </dt_customer>
        </helpers>
        <resources>
            <dt_customer_setup>
                <setup>
                    <module>DT_Customer</module>
                    <class>DT_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dt_customer_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dt_customer before="Mage_Adminhtml">DT_Customer_Adminhtml</dt_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>